@model blog_website.Models.classes.Blog
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Home" asp-action="Create" method="post">
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Substance" class="control-label"></label>
                <textarea asp-for="Substance" class="form-control txtarea" rows="15"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary saveButton" />
            </div>
        </form>
        <form asp-controller="Home">
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary saveButton" />
            </div>
        </form>
    </div>
</div>
