@using myLib
@model blog_website.Models.classes.Blog
@inject IMarkDown markDown;

@{
    ViewData["Title"] = Model.Title;
}

<div class="script-details">
    <h1>@Model.Title</h1>
    <!-- Render the sample Markdown content -->
    <div class="script-substance">
        @Html.Raw(markDown.ConvertToHtml(Model.Substance))
    </div>
</div>
