@model blog_website.Models.classes.Blog
@using Markdig;

@{
    ViewData["Title"] = Model.Title;
}

<div class="script-details">
    <h1>@Model.Title</h1>
    <!-- Render the sample Markdown content -->
    <div class="script-substance">
        @Html.Raw(Markdown.ToHtml(Model.Substance))
    </div>
</div>
