@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <!--
    <div>
    <a asp-controller="DataContextAdmin" asp-action="GetTable">Back to List</a>
    </div>
    <div class="icon-container">
        <a asp-controller="Home" asp-action="Create">
            <i class="bi bi-plus-lg"></i>
        </a>
    </div>
    -->

</div>
