@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Register Page</title>
    <link rel="stylesheet" href="~/web-admin-page/style.css">
</head>
<body>
    <div class="container">
        <div class="contact-form">
            <h2>Register or Login</h2>
            <a class="nav-link text-dark" asp-area="" asp-controller="DataContextAdmin" asp-action="Create">Register</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="DataContextAdmin" asp-action="Create">Login</a>
        </div>
    </div>
</body>
</html>
