<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Register Page</title>
    <link rel="stylesheet" href="~/web-admin-page/style.css">
</head>
<body>
    <div class="container">
        <h1>Register or Login</h1>
        <form asp-controller="DataContextAdmin" asp-action="Create" method="post">
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <script>
        document.querySelector('form').addEventListener('submit', function (event) {
            console.log('Form submitted');
        });
    </script>

</body>
</html>
